[Unit]
Description={{ server_service_name }}
After=network.target

[Service]
Environment=LD_LIBRARY_PATH={{ server_install_path }}/
Type=simple
User={{ server_user_name }}
WorkingDirectory={{ server_install_path }}
ExecStart={{ server_install_path }}/bedrock_server
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ server_service_name }}

[Install]
WantedBy=multi-user.target
