gamemode={{ gamemode }}
force-gamemode={{ force_gamemode }}
difficulty={{ difficulty }}
level-type={{ level_type }}
server-name={{ server_name }}
max-players={{ max_players }}
server-port={{ server_port }}
server-portv6={{ server_portv6 }}
level-name={{ level_name }}
level-seed={{ level_seed }}
online-mode={{ online_mode }}
white-list={{ white_list }}
allow-cheats={{ allow_cheats }}
view-distance={{ view_distance }}
player-idle-timeout={{ player_idle_timeout }}
max-threads={{ max_threads }}
tick-distance={{ tick_distance }}
default-player-permission-level={{ default_player_permission_level }}
texturepack-required={{ texturepack_required }}
content-log-file-enabled={{ content_log_file_enabled }}
compression-threshold={{ compression_threshold }}
server-authoritative-movement={{ server_authoritative_movement }}
player-movement-score-threshold={{ player_movement_score_threshold }}
player-movement-distance-threshold={{ player_movement_distance_threshold }}
player-movement-duration-threshold-in-ms={{ player_movement_duration_threshold_in_ms }}
correct-player-movement={{ correct_player_movement }}
